<nav class="pagination" role="navigation">
    {{#if prev}}
    <a class="newer-posts" href="{{page_url prev}}">
        <i class="material-icons button-icon">navigate_before</i>
    </a>
    {{/if}}
    <span class="page-number">{{page}} of {{pages}}</span>
    {{#if next}}
    <a class="older-posts" href="{{page_url next}}">
        <i class="material-icons button-icon">navigate_next</i>
    </a>
    {{/if}}
</nav>