{{!< default}}
{{#author}}
<div class="ribbon" >
    <section class="ribbon-bg" style="background-image: {{#if cover_image}}url({{cover_image}}){{else}}none{{/if}}"></section>
    {{#if profile_image}}
    <img class="ribbon-logo" src="{{img_url profile_image}}" alt="">
    {{/if}}
    <h4 class="mdc-typography--headline4">{{name}}</h4>
</div>
{{/author}}
<main class="main-content" role="main">
    <ul class="waterfall mdc-image-list mdc-image-list--masonry">
        {{#foreach posts}}
        {{> "card"}}
        {{/foreach}}
    </ul>
</main>
