{{!< default}}
<div class="ribbon"  style="background-image: {{#if @blog.cover_image}}url({{img_url @blog.cover_image}}){{else}}none{{/if}}">
    <h2 class="mdc-typography--headline2">{{@blog.title}}</h2>
</div>
<main class="main-content" role="main">
    <ul class="waterfall mdc-image-list mdc-image-list--masonry">
    {{#foreach posts limit=@config.posts_per_page}}
        {{> "card"}}
        {{/foreach}}
    </ul>
</main>
