{{!< default}}
{{#tag}}
<div class="ribbon">
    <section class="ribbon-bg" style="background-image: {{#if feature_image}}url({{img_url feature_image}}){{else}}none{{/if}}"></section>

    <h2 class="mdc-typography--headline2">{{name}}</h2>
    {{#if description}}
    <p class="mdc-typography--body1">
        {{description}}
    </p>
{{/if}}
</div>
{{/tag}}
<main class="main-content" role="main">
    <ul class="waterfall mdc-image-list mdc-image-list--masonry">
        {{#foreach posts}}
        {{> "card"}}
        {{/foreach}}
    </ul>
</main>

