:root {
  --mdc-theme-primary: #00b4c1;
  --mdc-theme-secondary: #ff4081;
  --mdc-theme-on-secondary: #ffffff;
  --mdc-theme-background: #ffffff;
}
/* Normalize */
body {
  margin: 0;
  background-color: #ffffff;
}
a {
  color: black;
  text-decoration-line: none;
  color: inherit;
}
/* 1. General */
.drawer .drawer-header {
  height: 150px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 1rem;
  background-size: cover;
}
.drawer .drawer-header #logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #888888;
}
.drawer .drawer-header h3,
.drawer .drawer-header h6 {
  color: white;
}
.drawer .drawer-header .mdc-drawer__title::before {
  height: 0;
}
.drawer .mdc-list-item--activated {
  color: #ff4081;
}
.drawer .mdc-list-item--activated .mdc-list-item__graphic {
  color: #ff4081;
}
#to-top {
  display: block;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
#to-top.to-top-show {
  opacity: 1;
  transform: scale(1);
}
.main-content {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -3rem;
}
.main-content:after {
  display: block;
  content: " ";
  clear: both;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.pagination .page-number span {
  color: #ff4081;
}
.pagination a {
  border-radius: 50%;
  color: #00b4c1;
}
.main-footer {
  display: flex;
  background-color: #eeeeee;
  padding: 4rem;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}
.main-footer section {
  color: #5f6368;
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: .04em;
  text-decoration: inherit;
  text-transform: inherit;
  font-size: 1rem;
}
/* 2. Header */
.ribbon {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 600px;
}
.ribbon .ribbon-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #2f2f2f;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.ribbon h2,
.ribbon h4,
.ribbon h6,
.ribbon time,
.ribbon p {
  color: white;
  margin: 1rem;
  text-align: center;
  text-shadow: 0px 0px 5px black;
}
.ribbon .ribbon-logo {
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.no-cover {
  background: #2f2f2f;
}
#head-bar {
  background-color: rgba(0, 180, 193, 0);
  transition: 0.3s cubic-bezier(0.4, 0, 0.6, 1);
}
#head-bar.head-bar-scrolled {
  background-color: #00b4c1;
}
#head-bar button,
#head-bar a {
  border-radius: 50%;
}
.waterfall {
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  max-width: 1000px;
}
.waterfall .card {
  margin-bottom: 1rem;
}
.waterfall .card .card_photo::before {
  margin: 0;
  padding-top: 56.7%;
}
.waterfall .card .card__primary {
  padding: 1rem;
}
.waterfall .card .card__primary .card__title {
  margin: 0;
}
.waterfall .card .card__primary .card__subtitle {
  margin: 0;
}
.waterfall .card .card__secondary {
  padding: 0 1rem 8px;
}
/* 4. Post */
.post-article {
  position: relative;
  width: 1000px;
  padding: 30px 40px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.post-article h6 {
  margin: 0;
  margin-top: 0.5em;
  font-size: 1.2rem;
}
.post-article h5 {
  margin: 0;
  margin-top: 0.5em;
  font-size: 1.5rem;
}
.post-article h4 {
  margin: 0;
  margin-top: 0.5em;
  font-size: 1.8rem;
}
.post-article h3 {
  margin: 0;
  margin-top: 0.5em;
  font-size: 2.1rem;
}
.post-article h2 {
  margin: 0;
  margin-top: 0.5em;
  font-size: 2.4rem;
}
.post-article h1 {
  margin: 0;
  margin-top: 0.5em;
  font-size: 2.7rem;
}
.post-article h0 {
  margin: 0;
  margin-top: 0.5em;
  font-size: 3rem;
}
.post-article .post-article-content {
  position: relative;
}
.post-article .post-article-content .kg-card {
  position: relative;
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #ffffff;
}
.post-article .post-article-content .kg-card figcaption {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #888888;
}
.post-article .post-article-content .kg-image-card img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
.post-article .post-article-content .kg-gallery-card .kg-gallery-container {
  display: flex;
  flex-direction: column;
}
.post-article .post-article-content .kg-gallery-card .kg-gallery-container .kg-gallery-row {
  display: flex;
}
.post-article .post-article-content .kg-gallery-card .kg-gallery-container .kg-gallery-row .kg-gallery-image {
  padding: 0.5rem;
}
.post-article .post-article-content .kg-gallery-card .kg-gallery-container .kg-gallery-row .kg-gallery-image img {
  width: 100%;
  height: 100%;
}
.post-article .post-article-content .kg-width-full {
  width: 100vw;
  left: calc(-50vw + 50%);
  margin-bottom: 3rem;
}
.post-article .post-article-content .kg-width-wide {
  margin-bottom: 3rem;
  left: -25%;
  width: 150%;
}
.post-article hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #949494;
  height: 1px;
  border: 0;
}
.post-article .border {
  border: #00b4c1 4px solid;
  position: relative;
  right: 44px;
}
.post-article .post-info section {
  display: flex;
  margin-bottom: 2rem;
}
.post-article .post-info .post-authors .post-author {
  display: flex;
}
.post-article .post-info .post-authors .post-author .post-author-logo {
  display: block;
  border-radius: 50%;
  max-width: 70px;
  max-height: 70px;
}
.post-article .post-info .post-authors .post-author .post-author-logo img {
  width: 100%;
  height: 100%;
}
.post-article .post-info .post-authors .post-author .post-author__info {
  padding-left: 1rem;
}
.post-article .post-info .post-authors .post-author .post-author__name {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: lighter;
  letter-spacing: .015em;
}
.post-article .post-info .post-authors .post-author .post-author__bio {
  max-width: 250px;
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .01786em;
  line-height: normal;
  opacity: 0.5;
}
.post-article .post-info .post-tags {
  display: flex;
}
.post-article .post-info .post-tags .post-tag {
  color: #ff4081;
  letter-spacing: 0;
}
