/* =============================
		 Table Of Content
   =============================*/
/* 
	0. Normalize
	1. General
	2. Header
	3. Navigation
	4. Post
	5. Other Page
	6. Media Queries (Mobile)
	7. Animation
	8. Pjax
 */
:root {
  --mdc-theme-primary: #00b4c1;
  --mdc-theme-secondary: #ff4081;
  --mdc-theme-on-secondary: #ffffff;
  --mdc-theme-background: #eeeeee;
}
/* 0. Normaliz */
h1,
h2,
h3,
h4,
h5,
h6,
p,
q,
blockquote,
li,
a,
section,
time {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
  font-weight: 100;
}
img {
  max-width: 100%;
  max-height: 100%;
}
ul,
li {
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
input {
  background: none;
  border: none;
}
body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  overflow-x: hidden;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
hr {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.3;
}
/* 1. General */
.site-wrapper {
  position: relative;
  min-height: 100vh;
  transition: 0.6s;
}
#to-top {
  position: fixed;
  display: none;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  padding: 10px;
  background: #00b4c1;
  border-radius: 50%;
  overflow: hidden;
}
#to-top:hover {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#to-top i {
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: white;
}
.content {
  position: relative;
  top: -50px;
  margin-bottom: 40px;
}
.content:after {
  display: block;
  content: " ";
  clear: both;
}
#main-footer {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}
#main-footer section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: table;
  width: auto;
}
.copyright p {
  margin: 0;
  text-align: center;
}
.pagination {
  text-align: center;
  font-size: 1.2em;
}
.pagination .material-icons {
  position: relative;
  top: 25px;
  width: 50px;
  height: 50px;
  font-size: 50px;
  color: white;
  border-radius: 50%;
  background-color: #00b4c1;
  transition: .3s;
}
.pagination .material-icons:hover {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.pagination span {
  position: relative;
  top: 0.5em;
}
.pagination .page-number {
  margin-left: 1em;
  margin-right: 1em;
}
/* 2. Header */
.main-header {
  position: relative;
  width: 100%;
  min-height: 500px;
  max-height: 40vh;
  padding-top: 15vh;
  box-sizing: border-box;
  box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.main-header section:not(.header-background) {
  position: relative;
}
.main-header .header-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #222 no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
}
.main-header .page-description,
.main-header .page-title,
.main-header .post-title {
  margin: 0;
  text-align: center;
  color: white;
}
.main-header .page-title,
.main-header .post-title {
  font-size: 50px;
  font-weight: lighter;
}
.no-cover {
  background: #2f2f2f;
}
#head-bar {
  width: 100%;
  height: 64px;
  position: fixed;
  display: flex;
  justify-content: space-around;
  top: 0;
  transition: 0.6s;
  z-index: 1;
}
#head-bar .current-title {
  font-size: 1.5em;
  margin-left: 64px;
}
#head-bar .current-title span {
  vertical-align: -webkit-baseline-middle;
}
#menu a,
#search a {
  position: relative;
  display: inline-flex;
  padding: 20px;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  transition: 0.3s;
}
#menu a:hover,
#search a:hover {
  color: #00edfe !important;
}
#search {
  transform: translate(250px);
  transition: 0.5s;
}
#search form {
  display: inline-block;
  height: 44px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 3px;
}
#search-input {
  height: 100%;
  width: 250px;
  padding: 0;
  padding-left: 10px;
  font-size: 30px;
  box-sizing: border-box;
}
#search-input:focus {
  outline: none;
}
#search-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#search-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#search-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#search-input::-o-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#search-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.search-opened {
  transform: translate(0px) !important;
}
.search-opened a {
  color: #00edfe !important;
}
.head-bar-scrolled {
  background: #00b4c1;
  color: white;
}
.head-bar-scrolled a {
  color: white;
}
.head-bar-scrolled form {
  background: #7fdae0;
}
/* 3. Navigation */
aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 290px;
  z-index: 10;
  overflow: hidden;
  transition: 0.6s;
  transform: translateX(-290px);
}
aside .in-nav-closed {
  transition: 0.6s;
  transform: translateX(140px);
}
aside header {
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
aside header #logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
aside header #name {
  display: table;
  margin: 0;
  font-size: 25px;
}
aside header #name,
aside header #email {
  color: white;
}
aside li {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
aside li a {
  width: 100%;
  height: 100%;
  padding-top: 5px;
  box-sizing: border-box;
}
aside li * {
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
}
aside .nav {
  height: 45px;
  font-size: 20px;
}
aside .nav i {
  color: #333;
  margin-left: 15px;
  margin-right: 15px;
}
aside .nav-current {
  background: rgba(0, 180, 193, 0.3);
}
aside #tag-nav {
  padding-left: 35px;
}
aside #tag-nav li {
  height: 35px;
  font-size: 15px;
}
aside #tag-nav li i {
  margin-left: 10px;
  margin-right: 10px;
}
.nav-opened #menu a {
  color: #00edfe !important;
}
.nav-opened .site-wrapper {
  overflow-x: hidden;
  transition: 0.6s;
  transform: translateX(290px);
}
.nav-opened #head-bar {
  transition: 0.6s;
  transform: translateX(290px);
}
.nav-opened aside {
  transition: 0.6s;
  transform: translateX(0px);
}
.nav-opened aside .in-nav-opened {
  transition: 0.6s;
  transform: translateX(0px);
}
.nav-opened .nav-cover {
  position: fixed;
  top: 0;
  left: 290px;
  right: 0;
  bottom: 0;
  z-index: 10;
}
/* 4. Post */
.post {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  background: white;
}
.post-head time {
  display: block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: white;
}
.post-article {
  width: 1000px;
  padding: 30px 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.post-article .post-meta {
  position: relative;
  left: -10px;
}
.post-article .post-meta .border {
  position: relative;
  left: -35px;
  height: 30px;
  display: inline-block;
  border-left: 10px #00b5c2 solid;
}
.post-article .post-meta .author-image figure {
  display: inline-block;
  margin: 0;
}
.post-article .post-meta .author-image figure img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.post-article .post-meta .author-image figure span {
  font-size: 25px;
}
.post-article .post-meta i {
  font-size: 15px;
}
.post-article .post-meta ul {
  display: inline-block;
  position: relative;
  bottom: 8px;
  font-size: 20px;
}
.post-article .post-meta ul li {
  display: inline-block;
  margin-right: 10px;
}
.post-content {
  width: 100%;
  font-size: 1.3em;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-weight: normal;
}
.post-content p {
  margin-top: .5em;
  margin-bottom: .5em;
}
.post-content ul {
  padding-left: 2em;
}
.post-content ul > li {
  list-style: disc;
}
.post-content ul > li ul > li {
  list-style: circle;
}
.post-content ol > li {
  list-style: decimal;
}
.post-content ol > li ol > li {
  list-style: lower-latin;
}
.post-content a {
  color: #2962ff;
}
.post-content a:hover {
  text-decoration: underline;
}
.post-content blockquote {
  position: relative;
  left: -45px;
  margin: 0;
  padding: 3px;
  padding-left: 45px;
  border-left: 5px black solid;
}
.post-content blockquote p {
  margin: .5em 0;
}
.post-content pre {
  background: #f1f1f1 !important;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}
.post-content code {
  background: #f1f1f1;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 400;
}
.post-content input {
  background: #f9f9f9;
  padding: 10px 1em;
  border-radius: 5px;
  transition: .3s;
}
.post-content input:focus {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  outline: none;
}
.post-content img {
  max-width: 100%;
}
.post-content figure {
  position: relative;
  background: white;
  margin: 20px 0;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.post-content .img-left {
  position: relative;
  left: -40px;
  float: left;
  max-width: 40%;
  margin-left: -20%;
  margin-right: 20px;
}
.post-content .img-right {
  position: relative;
  right: -40px;
  float: right;
  max-width: 50%;
  margin-left: 20px;
  margin-right: -25%;
}
.post-content .img-box {
  width: 120%;
  padding: 10px;
  margin-left: -10%;
}
.post-content .img-box img {
  box-sizing: border-box;
  float: left;
}
.post-content .img-box:after {
  display: block;
  content: "";
  clear: both;
}
.zoom-overlay {
  opacity: 0.7 !important;
}
#post-list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
  max-width: 1050px;
}
#post-list .post-card {
  width: 330px;
  padding: 0;
  margin: 10px;
  box-sizing: border-box;
}
#post-list .post-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#post-list .post-header {
  position: relative;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222;
}
#post-list .post-header .post-title {
  position: absolute;
  bottom: 1em;
  left: 20px;
  margin: 0;
}
#post-list .post-header .post-title a {
  color: white;
}
#post-list .post-excerpt {
  padding: 0px 20px 0px 20px;
  font-size: 1em;
  line-height: 1.2em;
  word-wrap: break-word;
}
#post-list .post-excerpt p {
  margin-top: 10px;
  margin-bottom: 10px;
}
#post-list footer {
  padding-left: 20px;
}
#post-list footer a {
  display: inline;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.9);
}
#post-list footer time {
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.9);
}
/* 6. Other Page */
.author-header {
  padding-top: 10vh;
}
.author-header #author-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  border-radius: 50%;
}
.author-header #author-name {
  padding: 20px 0 20px 0;
  font-size: 36px;
  color: white;
  text-align: center;
}
/* 7. Media Queries */
@media only screen and (min-width: 1750px) {
  #post-list {
    width: 1400px;
  }
}
@media only screen and (max-width: 1050px) {
  .post-article {
    width: 700px;
  }
  #post-list {
    width: 700px;
  }
}
@media only screen and (max-width: 700px) {
  .post-article {
    width: 500px;
  }
  #post-list {
    width: 350px;
  }
}
@media only screen and (max-width: 500px) {
  #to-top {
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    padding: 5px;
  }
  #to-top i {
    width: 30px;
    height: 30px;
    font-size: 30px;
  }
  .content {
    top: 20px;
  }
  .post-article {
    width: 100vw;
    min-width: 100vw;
  }
  .post-content .img-left {
    left: 0;
  }
  .post-content .img-right {
    right: 0;
  }
  #post-list {
    width: 350px;
  }
  #post-list .post-card .post-header {
    height: 170px;
  }
  .main-header {
    max-height: 60vh;
    min-height: 300px;
    padding-top: 70px;
  }
  .main-header .page-title,
  .main-header .post-title {
    font-size: 36px;
  }
  #search {
    transform: translateX(200px);
  }
  #search-input {
    width: 200px;
  }
  .page-title {
    font-size: 30px;
  }
  .page-description {
    font-size: 20px;
  }
  aside {
    width: 250px;
    transform: translateX(-250px);
  }
  aside header #logo {
    width: 90px;
    height: 90px;
  }
  aside header #name {
    font-size: 25px;
  }
  .nav-opened .site-wrapper {
    transition: 0.6s;
    transform: translateX(250px);
  }
  .nav-opened #head-bar {
    transition: 0.6s;
    transform: translateX(250px);
  }
  .nav-cover {
    left: 250px !important;
  }
}
@media only screen and (max-width: 370px) {
  #post-list {
    width: 100vw;
  }
  #post-list .post-card {
    width: 100vw !important;
    margin: 10px 0 10px 0;
  }
}
/* 8. Animation */
.ripple {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.rippleEffect {
  -webkit-animation: rippleDrop .4s linear;
  -moz-animation: rippleDrop .4s linear;
  -ms-animation: rippleDrop .4s linear;
  -o-animation: rippleDrop .4s linear;
  animation: rippleDrop .4s linear;
}
@-webkit-keyframes rippleDrop {
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
}
@keyframes rippleDrop {
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
}
/* 9.Pjax Effect */
.P-animated {
  -webkit-animation: 0.6s ease-in-out;
  -moz-animation: 0.6s ease-in-out;
  -ms-animation: 0.6s ease-in-out;
  -o-animation: 0.6s ease-in-out;
  animation: 0.6s ease-in-out;
}
.P-hide {
  -webkit-animation-name: P_hide;
  -moz-animation-name: P_hide;
  -ms-animation-name: P_hide;
  -o-animation-name: P_hide;
  animation-name: P_hide;
}
.P-show {
  -webkit-animation-name: P_show;
  -moz-animation-name: P_show;
  -ms-animation-name: P_show;
  -o-animation-name: P_show;
  animation-name: P_show;
}
@-webkit-keyframes P_hide {
  from {
    transorm: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100px);
    opacity: 0;
  }
}
@keyframes P_hide {
  from {
    transorm: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100px);
    opacity: 0;
  }
}
@-webkit-keyframes P_show {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes P_show {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
